@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.swiper-pagination-bullet {
  background: #ffffff86 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #fff !important;
}

.arrow-svg {
  width: 100%;
  height: auto;
  stroke: #C8A9CA;
  stroke-width: 0; /* using fill instead of stroke */
  
  /* Animation prep */
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  transition: stroke-dashoffset 0.45s ease-out;
}

.draw-arrow {
  stroke-dashoffset: 0;
}

/* .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #d51e1e;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
} */